@{
    ViewData["Title"] =  "Contato";
}
<h1><center>@ViewData["Title"]</center></h1>

<p><Center> Entre em contato com a gente através dos nossos telefones ou redes sociais:</center></p>

<address>

    <h5 title="Phone">Tel:</h5>

    (11)5509/8822
    (11)5588/2230

</address>



<address>

    <img src="~/Img/mail-icon.png" width="35" height="35" /> <a href="casashow@events.com.br">casashow@events.com.b</a><br />

    <a href="https://www.facebook.com/in/casashow754311196/"><img src="~/Img/0995-linkedin-logo-square2.png" width="40" height="40" /><a href="https://www.facebook.com/in/casashow754311196/">https://www.facebook.com/in/casashow754311196</a><br />

    <a href="https://www.instagram.com/cashow/"><img src="~/Img/instagram-new.png" width="40" height="40" /><a href="https://www.instagram.com/cashow/">https://www.instagram.com/cashow/</a>

</address>