@{
    ViewData["Title"] = "Home Page";
}



<div id="Index" class="text-center">
    <h1 class="display-3" font color="white" font face="Snell Roundhand, Cursive">BEM VINDO(A) À CASA SHOW</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
