
@{
    ViewData["Title"] = "Home Page";
}



<div id="Index" class="text-center">
    <h1 class="display-3"  font face="Snell Roundhand, Cursive">BEM VINDO(A) À CASA SHOW</h1>
    <p><h5>  Encontre aqui o seu evento </h5></p>
</div>
<div class="row">

        <div class="col-md-4">
           
             <p><center><img src="/Img/sertanejo.png" width="300" height="200"</center></p>


            <div class="card">
             <div class="card-body">
    
            <center><h2>Show Esquenta Villa Mix</h2></center>
            <h6><center>Preço do Ingresso: R$300,00</center></h6>
            <h6><center>Data 20/02/2020</center></h6>
            <h6><center>Local: Villa Country</center></h6>
            <button class="btn btn-danger">Comprar</button>
  </div>
   </div>


        </div>

    <div class="col-md-4">

            <p><center><img src="/Img/pop.png" width="300" height="200"</center></p>

            <div class="card">
  <div class="card-body">
 

            <center><h2>Show da Anitta e Convidados</h2></center>
            <h6><center>Preço do Ingresso: R$100,00</center></h6>
            <h6><center>Data 29/02/2020</center></h6>
            <h6><center>Local: Sambódrono Anhembi</center></h6>
            <button class="btn btn-danger">Comprar</button>

  </div>
</div>

        </div>

        <div class="col-md-4">

            <p><center><img src="/Img/pagodeiros.png" width="300" height="200"</center></p>
            

            <div class="card">
  <div class="card-body">
  
            <center><h2>Show dos Reis do Pagode</h2></center>
            
            <h6><center>Preço do Ingresso: R$200,00</center></h6>
            <h6><center>Data 17/03/2020</center></h6>
            <h6><center>Local: Espaço das Americas </center></h6>
            <button class="btn btn-danger">Comprar</button>

  </div>
</div>

        </div>

    </div>